<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Your Website</title>
</head>
<body>
  <header class="menu-bar">
      <div class="menu-toggle">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
      </div>
      <div class="logo">
          <img src="https://fakeimg.pl/100x100/78ff6e/008562?text=PT" alt="Your Logo">
          <h1>Your Website Name</h1>
      </div>
      <nav class="menu-nav">
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
      </nav>
      <div class="auth-buttons">
          <button class="auth-button">Sign Up</button>
          <button class="auth-button">Login</button>
      </div>
  </header>
  <main>
      <!-- Your main content goes here -->
  </main>
  <script src="static/js/script.js"></script>
</body>
</html>

