<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/main_style.css">
  </head>
    <body>
      <ul>
        <li><a href="https://5000-rrcoder0167-powertrack-4qndsed5nrd.ws-us74.gitpod.io">Home</a></li>
        <li><a href="https://5000-rrcoder0167-powertrack-4qndsed5nrd.ws-us74.gitpod.io/upload/">Upload</a></li>
        <li><a href="#contact">Our Mission</a></li>
        <li><a href="https://5000-rrcoder0167-powertrack-4qndsed5nrd.ws-us74.gitpod.io/about/">About</a></li>
      </ul>
      <h1>Welcome to Energy Track</h1>  
    </body>
</html>