<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/main_style.css">
  </head>
    <body>
      <div id="gradient1">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation"></nav>
      <div class="topnav">
        <a href="https://5000-rrcoder0167-powertrack-4qndsed5nrd.ws-us74.gitpod.io">Home</a>
        <div class="topnav-right">
          <a href="https://5000-rrcoder0167-powertrack-4qndsed5nrd.ws-us74.gitpod.io/upload">Upload</a>
          <a href="#contact">Our Mission</a>
          <a href="https://5000-rrcoder0167-powertrack-4qndsed5nrd.ws-us74.gitpod.io/about">About</a>
          <a href="https://5000-rrcoder0167-powertrack-4qndsed5nrd.ws-us74.gitpod.io/login">Login</a>
        </div>
      </div>
      </nav>
      <h1>Welcome to Energy Track</h1>
      </div>  
    </body>
</html>